deimos @ git+https://github.com/pnnl/deimos
pymzml @ git+https://github.com/pymzml/pymzML.git@b536dc48429e442bb637ca277cf16a14e2047c2d
colorcet==3.0.1
holoviews==1.17.1
panel==1.2.3
xarray==2023.1.0
hvplot==0.9.0 
datashader==0.15.2
pandas==2.0.3
playwright==1.41.2
pytest==8.0.0
pytest-playwright==0.4.4
dask[dataframe]==2024.3.0
